@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: whitesmoke;


}

a {
    color: whitesmoke;
    padding: 0.5rem;
    transition: all 0.3s ease 0s;
    
}

a:hover {
    color: gold;
}

li, a {
    text-decoration: none;
}

a :visited {
    color: lightgray;
}



nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.6rem;
    position: fixed;
    width: 100%;
    background-color: black;
}

.forms {
    display: flex;
}

.nav_links {
    list-style: none;
    padding: 0.5rem;

}

.nav_links li {
    display: inline-block;
}

.welcome {
    font-size: 6rem;
    width: 100%;
    white-space: nowrap;
    padding-top: 3rem;
    margin: 0 2rem;
    letter-spacing: 0.3rem;
    
}



.circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    margin-left: 2rem;
}

.square {
    top: -11rem;
    left: 8rem;
    width: 300px;
    height: 300px;
    background-color: black;
    border: 1px solid white; 
    z-index: 1;
    margin-left: 8rem;
    margin-top: -13rem
}

.plus img {
    top: 0.4rem;
    height: 1.5rem;
    width: auto;
    
}

.arrow img {
    height: 5rem;
    transform: rotate(45deg);
}


.attributes {
    padding: 0 1rem;
}

.welcome_text {
    display: flex;
    margin-left: -8rem;
    
}

.welcome_text h3 {
    letter-spacing: 0.3rem;
}
.circle_form {
    margin-left: 3rem;
    margin-top: 5rem;
}

.forms_welcome {
    font-weight: 300;
    font-size: 5rem;
    letter-spacing: 0.5rem;
    margin-top: -15rem;
    margin-left: 14rem;
}

main {
    display: flex;
    margin-top: 8rem;
}