@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: whitesmoke;
    max-width: 88%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 3rem;
}

a {
    color: whitesmoke;
    transition: all 0.3s ease 0s;
    
}

a:hover {
    color: gold;
}

li, a {
    text-decoration: none;
}

a :visited {
    color: lightgray;
}

nav ul li a {
    padding: 0.3rem;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.6rem;
    position: fixed;
    top: 0;
    width: 88%;
    background-color: black;
    z-index: 99;
}

.forms {
    display: inline-flex;
}

.graph {
    width: 300px;
    height: 300px;
    border-radius: 200px;
    border: 2px solid black;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    transform: rotate(45deg);
    margin:  2rem ;
    position: absolute;
}

.forms_welcome {
    font-weight: 300;
    font-size: 5rem;
    letter-spacing: 0.5rem;
    margin-top: 12rem;
    z-index: 4;
    padding-left: 8rem;
}

.nav_links {
    list-style: none;
    padding: 0.5rem;

}

.nav_links li {
    display: inline-block;
}

.welcome {
    font-size: 6rem;
    width: 100%;
    white-space: nowrap;
    letter-spacing: 0.3rem;
    line-height: 10rem;
    
}


header {
    margin-bottom: 2rem ;
    height: 100vh;
}


.plus img {
    top: 0.4rem;
    height: 1.5rem;
    margin-left: -1rem;
    
}

.arrow img {
    height: 6rem;
    transform: rotate(45deg);
    margin-right: -3rem;
}


.attributes {
    padding: 0 1rem;
}

.welcome_text {
    display: flex;
    margin-top: rem;
    margin-left: rem;
    
}

.welcome_text h3 {
    letter-spacing: 0.3rem;
}





.aboutme {
    width: 60%;
    line-height: 1.4rem;
    padding-top: 3rem;
    margin: 3rem 0;

}

.aboutme h3 {
    padding: 1rem 0;
    margin: 0 1rem;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.project-image {
    width: 300px;
    height:100%;
  }
  
  #projects {
    text-align: center;
    padding: 3rem 0;
    }
  
  .project-tile {
    background-color: #212121;
    width: 300px;
    margin: 10px;
    display: inline-block;
    letter-spacing:2px;
  }

  .project-tile p {
      padding: 1rem 0;
      font-size: 1.4rem;
  }
  
  .projects-secton-title {
    padding: 3rem;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 2px;

  }

  p {
      display: block;
      margin: 1rem;
      letter-spacing: 0.05rem;
  }
  
  .icons {

        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
  }

  .icons i {
      font-size: 2rem;
      padding: 2rem;
    
  }

h3{
      font-size: 2rem;
      margin-left: 3rem;
      font-weight: 300;
      font-size: 1.5rem;
      letter-spacing: 2px;
  }

  .made {
      display: flex;
      justify-content: center;
  }

  .heart {
      padding: 0 1rem;
  }

  .contact_icons {
      display: flex;
      justify-content: flex-start;
      padding-left: 0.5rem;

  }

  .contact_icons i {
    font-size: 2.8rem;
    padding: 0.8rem ;
    margin-left: 1rem;
  }

  .contact {
      margin-left: 2rem;
      font-weight: 300;
      font-size: 2.5rem;
      letter-spacing: 2px;
  }

  hr {
      margin: 2rem 0;
  }